<head>
  <title>twitter-scrap</title>
</head>

<body>
	{{> header }}
	{{> thumbnail }}
	<div class="container">
		{{> form }}
  	</div>  
</body>

<template name="form">
	<div class="row valign-wrapper">
	    <form class="col s6 offset-s3 valign">
	      <div class="row">
	        <div class="input-field col s8">
	          <input id="twitter" type="text" class="validate">
	          <label for="twitter" class='grey-text'>example: bottlenoseinc</label>
	        </div>
	        <div class="input-field col s4">
	          <button class="btn" style='{{ getDominantColor }}'>Get Images</button>
	        </div>
	      </div>
	    </form>
	</div>
    <div class="row">
    	<div class="results col s8 offset-s2 {{ isVisible }}">
    		<div class='row'>
    			<div class='col s3 right-align'><strong>Header</strong></div>
    			<div class='col s9'>
    				<input value='{{ header }}' data-behavior='click-to-select' class='no-border'>
    			</div>
    		</div>

    		<div class='row'>
    			<div class='col s3 right-align'><strong>Thumbnail</strong></div>
    			<div class='col s9'>
    				<input value='{{ thumbnail }}' data-behavior='click-to-select' class='no-border'>
    			</div>
    		</div>

    		{{#if hasClearbit }}
	    		<div class='row'>
	    			<div class='col s3 right-align'><strong>Clearbit</strong></div>
	    			<div class='col s9'>
	    				<input value='{{ clearbit }}' data-behavior='click-to-select' class='no-border'>
	    			</div>
	    		</div>
	    	{{/if}}

	    	{{#if hasColors }}
	    		<div class='row'>
	    			<div class='col s3 right-align'><strong>Dominant Colors</strong></div>

	    			<div class='col s9'>
			    		{{#each headerColors }}
			    			{{> colorChip hex=this}}
			    		{{/each}}

			    		{{#each thumbnailColors }}
			    			{{> colorChip hex=this}}
			    		{{/each}}

			    		{{#each clearbitColors }}
			    			{{> colorChip hex=this}}
			    		{{/each}}
			    	</div>
		    	</div>
	    	{{/if}}
    	</div>
    </div>
</template>

<template name='colorChip'>
	<span class='chip' style="background-color: {{ hex }}">
		<input value='{{ hex }}' data-behavior='click-to-select' class='no-border'>
	</span>
</template>
<template name="header">
	{{#if isLoading }}
		<div class="progress blue lighten-1">
	      <div class="indeterminate blue darken-2"></div>
	  	</div>
	{{ else }}
		<header>
			<img class="responsive-img" id="header" src="{{ header }}">
		</header>
	{{/if }}
</template>

<template name='thumbnail'>
	<div class='thumbnail'>
		<img class="responsive-img" id="thumbnail" src='{{ thumbnail }}'>
	</div>

	{{#if hasClearbit }}
		<div class='clearbit'>
			<img class="responsive-img" id="clearbit" src='{{ clearbit }}'>
		</div>
	{{/if}}
</template>
