header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	max-height: 320px;
	overflow:hidden;
	img {
		width: 100%
	}
}

.thumbnail, .clearbit {
	position: fixed;
	top: 20vh;
	left: 5vw;
	height: 200px;
	width: 200px;
}

.clearbit {
	left: inherit;
	right: 5vw;
}

#thumbnail, #clearbit {
	border: 1px solid #ddd;
}

.clearbit {
	&:after {
		content: 'clearbit';
		position: absolute;
		bottom: -25px;
		width: 100%;
		text-align: center;
		color: #bbb;
	}
}

#header, #thumbnail, #clearbit {
	opacity: 1;
}

.valign-wrapper {
	height: 100vh;
}


.results {
	bottom: 5vh;
	left: 0;
	position: fixed;
	width: 100%;
	transition: all 2s;

}

.hidden {
	opacity: 0;
	visibility: visible;
}

strong {
	font-weight: 600;
}

.input-field input[type=text] {
	/*font-weight: bold;*/
	text-transform: uppercase;
}

.input-field input[type=text]:focus, .input-field input[type=text]:valid {
     border-bottom: 1px solid rgba(0,0,0,0.25);
     box-shadow: 0 1px 0 0 rgba(0,0,0,0.25);
   }

.progress {

	margin: 0;
}

.chip {
	display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    width: 80px;
}

input.no-border, input.no-border:focus, input.no-border:valid {
	border: none !important;
	box-shadow: 0;
	outline: 0;
	width: 100%;
	background-color: transparent;
}
